# Secrets            #
######################
*.env

# Container         #
# ####################
*.sif

# Folders            #
######################
*__pycache__/

# Logs               #
######################
log
*.swp
status.txt